{:source-paths ["src" "test"]
 :dependencies [[binaryage/devtools "1.0.6"]]
 :dev-http {8280 "resources/public"
            8290 "target"}
 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/_js/compiled"
   :asset-path "/_js/compiled"
   :modules {:app {:init-fn bronen.example/init}}}
  :test
  {:target    :npm-module
   :output-dir "target/node_spec"
   :ns-regexp "-spec$"
   :modules {:app {:init-fn bronen.reaclj-test/init}}}}}